POSTGRES_DB=supplier_risk
POSTGRES_USER=supplier_user
POSTGRES_PASSWORD=supplier_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MTA_TAX_DEBTS_URL=https://ncfailid.emta.ee/s/XKJLjtynFeYdGyC/download/maksuvolglaste_nimekiri.csv
